{% extends 'store/store.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h3>Category: {{ category.name }}</h3>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card" style="height: 100%;">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="object-fit: cover; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Author: {{ product.author }}</p>
                            <p class="card-text">Price: ${{ product.price }}</p>
                            <a href="{% url 'product_detail' product.slug %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
