{% extends 'store/store.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <br>
                <img src="{{ product.imageURL }}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <h2>{{ product.name }}</h2>
                <h3>{{ product.category}}</h3>
                <h4>Author: {{ product.author }}</h4>
                <p>Price: ${{ product.price }}</p>
                <p>Description:{{ product.description }}</p>
                <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back to Home</a>

				<a href="{% url 'addtocart' product.id %}" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</a>
                <!-- Add other product details here -->
            </div>
        </div>
    </div>
{% endblock content %}

