{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<style>
    .search-form {
        background-color: #f8f9fa;
        border-radius: 25px;
        padding: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .search-input {
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        width: 300px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .search-button {
        border-radius: 20px;
        padding: 10px 20px;
    }

    .book-card {
        margin-bottom: 20px;
    }

    .book-card img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .book-card .card-body {
        border: 1px solid #dee2e6;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .book-card .btn {
        border-radius: 20px;
        margin-top: 10px;
    }


    
</style>

<div class='container-fluid my-3 d-flex justify-content-center'>
    <!-- Search form -->
    <!-- <h2 class="text-danger"><b>Search Books </b></h2> -->
    <form class="form-inline my-2 ml-2 my-lg-0 search-form" role='search', method='get', action="{% url 'store' %}">
        <input class="form-control mr-sm-2 search-input" name='search' type="search" placeholder="Search Books" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
    </form>
</div>

{% if error_message %}
    <!-- Error message -->
    <p class="error-message text-danger text-center"><b>{{ error_message }} &#128519;</b></p>
{% endif %}



<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card book-card">
                    <img class="card-img-top" src="{{ product.imageURL }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Quantity: {% if product.quantity > 0 %}{{ product.quantity }}{% else %}<span class="text-success">Out of stock</span>{% endif %}</p>
                        <p class="card-text">{{ product.category }}</p>
                        <p class="card-text">Author: {{ product.author }}</p>
                        <p class="card-text"><strong>$ {{ product.price }}</strong></p>
                        <a href="{% url 'addtocart' product.id %}" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</a>
                        <a class="btn btn-outline-success" href="{% url 'product_detail' product.slug %}">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



<!-- Pagination -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&#8676; First</a>
                    </li>
                {% endif %}
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}">&#8668; Previous</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
                </li>
                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">Next &#8669;</a>
                    </li>
                {% endif %}
                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.paginator.num_pages }}">Last &#8677;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
